body {
    padding: 16px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


#grid-container > div > div {
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
}

#grid-container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

#button-container {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

button {
    padding: 6px;
    background-color: transparent;
    border: 2px groove goldenrod;
    border-radius: 8px;
}